<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>account_candou</string>
		<key>name</key>
		<string>蚕豆</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_collect</string>
		<key>name</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_comment</string>
		<key>name</key>
		<string>评论</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_download</string>
		<key>name</key>
		<string>下载</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_favorite</string>
		<key>name</key>
		<string>关注</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_help</string>
		<key>name</key>
		<string>帮助</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_setting</string>
		<key>name</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>image</key>
		<string>account_user</string>
		<key>name</key>
		<string>账户</string>
	</dict>
</array>
</plist>
